.App {
  font-family: sans-serif;
  text-align: center;
}

html,
body,
div#root {
  margin: 0;
  padding: 0;
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  background: gray;
}

p {
  margin: 0.3em;
}
